@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/SF-Pro-Rounded-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/SF-Pro-Rounded-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/SF-Pro-Rounded-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/SF-Pro-Rounded-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/SF-Pro-Rounded-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

